.header
    height: 100vh
    background-image: url(../img/logo-alta1.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center


.header__contenedor-frase
    padding: 0
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: #000
    text-align: center

.header__frase
    margin-top: 10%
    font-size: 20px
    margin-bottom: 10px


.header__frase-autor
    font-weight: 300
    font-size: 15px
